/.project
/.buildpath
/.settings/
/composer.phar
/php-cs-fixer.phar
/vendor
/nbproject
/src/Resources/doc/generated
/.idea/

*.tmp
*.patch
*.log*
*.swp
*.bak
*.DS_Store
.#*


phpunit.xml

.vagrant
Vagrantfile

/.idea/
